*{
margin: 0;
padding: 0;
box-sizing: border-box;


}
.body{

    overflow: hidden;
}
.bg{
background-image: url(./images/hero.jpg);
background-position: center;
background-repeat:no-repeat;
background-size: cover;
height: 50rem;

}
.container {
    text-align: center;
    justify-content: center;
    margin-top: 4%;
    margin-left: 50%;
    width: 25px;
    color: #131111;
    background: transparent;
        /* transform: translate(-50%, -50%);   */
  }
  